<div class="company-info-item">
    <MudText Typo="Typo.caption"
             Color="Color.Secondary">
        @Label
    </MudText>

    <MudText Typo="Typo.body1">
        @Value
    </MudText>
</div>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Value { get; set; } = string.Empty;
}